body{
  font-family: 'Roboto Mono', sans-serif;
  margin: 0;
}

h1, h2, h3, div, p{
  margin: 0;
  padding: 0;
}

h1, h2, h3, .speech{
  margin: 0;
  background: white;
  width: 600px;
}

.wrapper{
  margin: 0 auto;
  width: 600px;
  background: white;
  position: relative;
}

.header{
  padding-bottom: 10px;

}

.header .title{
  padding-bottom: 10px;
  padding-top: 20px;
}


.link-to-docs{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.link-to-docs a{
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-to-docs .logo{
  margin-left: 20px;
  vertical-align: middle;
}

.content h2{
  font-size: 22px;
  padding-bottom: 10px;
}

.content h3{
  font-size: 18px;
  padding-bottom: 8px;
  padding-left: 15px;
}

.content .intro{
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  font-style: italic;
}

.content .speech{
  padding: 10px 15px;
  font-weight: bold;
}

.content .speech:after{
  content: ':';
}

.content .verse{
  padding-bottom: 7px;
  padding-left: 25px;
}

.content .verb{
  padding: 15px;
  padding-top: 14px;
  padding-bottom: 7px;
  padding-left: 15px;
  font-style: italic;
}
